{{ define "title" }} {{ .Title }} &ndash; {{ .Site.Title }} {{ end }}
{{ define "prefetch" }}
  {{ with .PrevInSection }}<link rel="prefetch" href="{{ .RelPermalink }}" as="document">{{ end }}
  {{ with .NextInSection }}<link rel="prefetch" href="{{ .RelPermalink }}" as="document">{{ end }}
{{ end }}
{{ define "main" }}
  <article>
    <header><h1>{{ .Title }}</h1></header>
    <footer>
      <p><small>published: {{ .PublishDate.Format "2006-01-02" }}</small></p>
    </footer>
    {{ .Content }}
  </article>
  <nav>
{{ with .PrevInSection }}<p>Prev: <a  href="{{ .RelPermalink }}">{{.Title}}</a></p>{{ end }}
  {{ with .NextInSection }}<p>Next: <a  href="{{ .RelPermalink }}">{{.Title}}</a></p>{{ end }}
  </nav>
{{ end }}
