{{ define "title" }}{{ .Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "prefetch" }}
  {{ with .PrevInSection }}<link rel="prerender" href="{{ .RelPermalink }}" as="document" />{{ end }}
  {{ with .NextInSection }}<link rel="prerender" href="{{ .RelPermalink }}" as="document" />{{ end }}
{{ end }}
{{ define "main" }}
  {{ $tags := .GetTerms "tags" }}
  <article>
    <header>
      <h1>{{ .Title }}</h1>
      <p>
        <small>{{ .PublishDate.Format "2006-01-02" }}</small>
        {{ with $tags }}
          &nbsp;/&nbsp;
          <small>
            {{ range $i, $e := $tags -}}
              {{- if $i }},&nbsp;{{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end }}
          </small>
        {{ end }}
      </p>
    </header>
    {{ .Content }}


    <footer>
      <p>
        <small>Published: {{ .PublishDate.Format "2006-01-02" }}</small>
        {{ with $tags }}
          &nbsp;/&nbsp;
          <small>
            Tags:
            {{ range $i, $e := $tags -}}
              {{- if $i }},&nbsp;{{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end }}
          </small>
        {{ end }}
        &nbsp;/&nbsp;
        <small>Share: <a href="https://twitter.com/intent/tweet?text={{.Title}}&url={{.Permalink}}">X</a></small>
      </p>
    </footer>
  </article>
  <nav>
    {{ with .PrevInSection }}<p>Prev: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
    {{ with .NextInSection }}<p>Next: <a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
  </nav>
{{ end }}
