<!-- General -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta
  property="og:type"
  content="{{ if .IsHome }}website{{ else }}article{{ end }}"
/>
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta
  property="og:title"
  content="{{ with .Title | default .Site.Title }}{{ . }}{{ end }}"
/>
<meta
  property="og:description"
  content="{{ with .Description -}}{{ . }}{{ else -}}{{ if .IsPage }}{{ substr .Summary 0 300 }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>
<meta
  property="og:image"
  content="{{ if .Params.thumbnail -}}{{ .Params.thumbnail|absURL }}{{ else if hasPrefix .File.Path "post" -}}{{ path.Join "tcard" (print .File.BaseFileName ".png") | absURL }}{{ else -}}{{ "img/default.png" | absURL }}{{ end -}}"
/>
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
{{ with ($.Param "twitter") }}
  <meta name="twitter:site" content="@{{ . }}" />
  <meta name="twitter:creator" content="@{{ . }}" />
{{ end }}
