{{ $ogp_local_path := print (path.Join "static/ogp" .File.Dir .File.BaseFileName) ".png" }}
{{ if (fileExists $ogp_local_path) }}
{{$ogp_path := print (path.Join "/ogp" .File.Dir .File.BaseFileName) ".png"}}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{$ogp_path | absURL}}">
<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
{{ else}}
  {{ template "_internal/twitter_cards.html" . }}
{{ end }}