{{ $posts_type := .Param "mainSection" | default "posts" -}}
{{ $posts := (.Paginate (where (where .Site.RegularPages "Type" $posts_type) ".Params.hidden" "!=" "true" )).Pages -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  <head>
  {{ partial "head.html" . -}}
  {{ partial "preload.html" $posts -}}
  </head>
  <body>
    {{- partial "header.html" . -}}
    <main>
      {{ with $posts }}
        <h2 id="posts">{{- $posts_type | title -}}</h2>
        {{ partial "list.html" $posts }}
      {{ end }}
      {{ range $index, $section := .Site.Data.home }}
        {{ if isset $section "type" }}
          {{ partial "home/section.html" $section }}
        {{ end }}
      {{ end }}
    </main>
    {{- partial "footer.html" . -}}

    <!-- debug -->
    {{ partial "debug.html" . }}
  </body>
</html>
