<h2 id="{{ with .id }}{{ . }}{{ else }}{{ .name | lower }}{{ end }}">
  {{ .name | title }}
</h2>
{{ if .url }}
  {{ $data := getJSON .url }}
  {{ partial .type $data}}
{{ else }}
  {{ partial .type .data }}
{{ end }}
{{ define "partials/links" }}
  <ul>
    {{ range $index, $page := . }}
      <li>
        {{ with .date }}{{ . }}&nbsp;{{ end }}
        <a href="{{ .href }}">{{ .title }}</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ define "partials/panel" }}
  {{ $markdown := .content | markdownify }}
  <article>
    {{ if not ( strings.Contains $markdown "<p>" ) }}
      <p>{{ $markdown }}</p>
      {{ else }}
      {{ $markdown }}
    {{ end }}
  </article>
{{ end }}

{{ define "partials/photos" }}
  {{ $sizes := site.Param "photoSizes" | default "100vw" }}
  {{ $paginate := site.Param "photoPaginate" | default 32 }}
  {{ $bu := .base_url }}
  <div class="gallery">
  {{ range $photo := first $paginate (sort .photos "meta.taken_at" "desc")}}
  {{ $targets := where $photo.sources ".is_square" "==" false}}
  {{ $len := (len $targets)}}
  <img loading="lazy" srcset="
    {{- range $i, $src := $targets -}}
      {{$bu}}/{{ path.Join $photo.id $src.name}} {{ $src.width -}}w
      {{- if ne (add $i 1) $len }}, {{end}}
    {{ end -}}
  " sizes="{{$sizes}}" alt="{{$photo.meta.title}}">
  <link rel="preload" as="image" imagesrcset="
    {{- range $i, $src := $targets -}}
      {{$bu}}/{{ path.Join $photo.id $src.name}} {{ $src.width -}}w
      {{- if ne (add $i 1) $len }}, {{end}}
    {{ end -}}
  " imagesizes="{{$sizes}}">
  {{ end }}
  </div>
{{ end }}
